.container{
    text-align: center;
    display: grid;
    gap: 16px;
}

.img{
    margin-top: 12px;
    margin-bottom: 12px;
    justify-self: center;
}

.btn{
    justify-self: center;
    justify-content: center;
    width:328px ;
    margin-top: 45px;
    
}