@import '../../styles/variables.scss';

.input{
    width: 100%;
    height: 48px;

    border: $content-07 solid 1px;
    border-radius: 8px;

    padding: 12px 8px 12px 12px;

    font-size: 16px;
    font-family: $inter-400;
    color: $bg-tertiary;

    &.error{
        border: $bg-error solid 2px;
    }
}

.label{
    font-family: $inter-400;
    font-size: 14px;

    color: $bg-primary;
}

.message{

}